@import 'normalize';
@import 'header';
header {
    max-width: 490px;
    width: 100%;
   // border: solid 1px red;
    height: 136px;
    margin: 0 auto;
    display: flex;
    .wrapper {
        width: 100%;
        padding-right: 20px;
    }
    img {
        margin-top: 16px;
        margin-left: 20px;
        float: left;
        position: relative;
        z-index: 10;
    }
    .name-prof {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
        h5 {
            font-size: 14px;
            color: #333333;
            margin-top: 22px;
            margin-left: 8px;
        }
        h6 {
            color: #8a8a8a;
            font-size: 11px;
            margin-top: 11px;
            margin-left: 8px;
        }
    }
    .text-propositions {
        width: 100%;
        margin-right: 0px;
        margin-top: 8px;
        border: 1px solid #cecabf;
        height: auto;
        background-color: #fffbc8;
        position: relative;
        right: 25px;
        border-radius: 5px;
        p {
            margin-top: 12px;
            margin-left: 10%;
            font-size: 13px;
            line-height: 18px;
        }
    }
}

.booking-sheet {
    height: 157px;
    margin: 0 auto;
    max-width: 490px;
  //  border: solid 1px blue;
    display: flex;
    justify-content: flex-end;
    table {
        border-collapse: collapse; // border: 1px solid red;
        height: 156px;
        width: 320px;
        margin-top: 20px;
        margin-right: 20px;
        tr {
            td {
                &:last-child {
                    text-align: center;
                }
            }
            &:first-child,
            &:nth-last-child(2) {
                td {
                    border-bottom: 1px solid #cccccc;
                }
            }
        }
        .booking__hand {
            width: 11/15*100%;
            background-color: #b1e19b;
            border-radius: 0 3px 3px 0;
            border-left: solid 1px #83b26d;
        }
        .booking__tours {
            width: 3/15*100%;
            background-color: #ace2f8;
            border-radius: 0 3px 3px 0;
            border-left: solid 1px #7eb4ca;
        }
        .booking__hostels {
            width: 1/15*100%;
            background-color: #ace2f8;
            border-radius: 0 3px 3px 0;
            border-left: solid 1px #7eb4ca;
        }
    }
}

.comments {
    max-width: 490px;
    width: 100%;
  //  border: solid 1px red;
    height: 600px;
    margin:  auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .comments__all
    {
       
        margin-left: 20px;
        margin-right: 20px;
        p {
            display: flex;
            justify-content: space-between;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            margin-top: 10px;

            a {
                font-size: 14px;
                color: #005DA4;
                margin-left: 5px;
            }
        }

        span {
           
            font-size: 14px; 
            
            img {
                height: 10px;
            }
        }

        .comments__all__like {
            margin-right: 10px;
        }
        .comments__all__name
        {
            
            p{
                font-size: 14px;
                .date
                {
                    font-size: 12px;
                    color: #a7a7a7;
                }
            }
        }
    }
    
    .comments__content {
        padding: 10px;
        position: relative;
        max-width: 450px;
        width:100%;
        min-height: 46px;
        background-color: #EFFBFF;
        margin: 0 auto;
        border: solid 1px #D0D0D0;
        margin-top: 20px;

        &:before {
            content: "";
            position: absolute;
            top: -10px;
            left: 20px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 0 10px;
            border-color: transparent transparent transparent #D0D0D0;
        }
    }

    .triangle {
        position: absolute;
        top: -6px;
        left: 21px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent #effbff;
    }
    .comments__add {
        height: 190px;
        width: 100%;
        background-color: #F2F2F2;
        margin-top: 16px;
       
        //align-items: center;
        .form
        {
            display:flex;
            flex-direction:column;
            justify-content: space-around;
            align-items: center;
            width:100%;

            .comments__add_btn {
                width: 60%;
                height: 40px;
                border: none;
                background-color: #fdd639;
                border-radius: 50px;
                cursor: pointer;
                outline: none;
            }
        }
        textarea {
            height: 60%;
            width: 80%;
            margin: auto;
            margin-top: 30px;
            resize: none; 
        }
    }
}